html {
  height: 100%;
  width: 100%;
}
body {
  background-color: green;
}

img {
  width: 125px;
  justify-content: space-evenly;
}
.code {
  width: 100px;
}

.me {
  width: 100px; 
}

.text {
  text-align: center;
}

.links {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  background-color: yellow;
  width: 400px;
}
